@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Page settings */
* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  all: unset;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  font-family: "Fredoka";
  font-weight: 200;
  background: #8bdeda;
  background: -webkit-linear-gradient(
    300deg,
    #ef9393,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );
  background: linear-gradient(
    300deg,
    #f75f5f,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
body.dark {
  background: linear-gradient(
    to left,
    #b0304f,
    #8a3fb0,
    #4f4fd6,
    #1f7fd1,
    #19a39a
  );
}

main {
  flex: 1;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}
.dark header {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(188, 187, 187, 0.3);
}
nav {
  display: flex;
}
.btn-settings,
.btn-help {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  text-align: center;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
  background: linear-gradient(120deg, #f5f6f6bb, #e5e5e5c6);
  transition: 0.2s ease-in;
}
.btn-close {
  background: linear-gradient(120deg, #15ddddbb, #e5e5e5c6);
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dark .btn-close {
  background: linear-gradient(120deg, #0d8989bb, #33c3d0c6);
}
.btn-help {
  margin-right: 20px;
}
.dark .btn-help--dark,
.dark .btn-settings--dark {
  background: linear-gradient(120deg, #f5f6f67f, #e5e5e577);
}

.btn-settings:hover {
  transform: rotate(5deg) scale(1.2);
}
.btn-help:hover {
  transform: rotate(-5deg) scale(1.2);
}
.setting-wheel {
  font-size: 1.6em;
  color: rgb(22, 22, 22);
}
.dark .setting-wheel {
  color: rgb(59, 59, 59);
}

/* Top Logo */

h1 {
  font-weight: 500;
  color: #0bcd22;
  font-size: 3em;
  display: flex;
  padding: 20px 20px;
}
h1 span {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(49, 49, 49);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
  line-height: 45px;
  text-align: center;
  background-color: white;
  transition: 0.2s ease-in;
}
.dark h1 span {
  background-color: rgb(45, 45, 45);
  border: 1px solid rgb(105, 105, 105);
  opacity: 0.9;
}

h1 span:nth-child(2n) {
  transform: rotate(-25deg);
  color: #fe3485;
}

h1 span:nth-child(3n) {
  color: #1192f5;
}
h1 span:nth-child(5) {
  color: rgb(21, 196, 91);
}
h1 span:nth-child(2) {
  color: #f8be10;
}
h1 span:nth-child(6) {
  transform: rotate(25deg);
  color: rgb(194, 23, 194);
  z-index: -1;
}
h1 span:nth-child(7) {
  color: #10c2f8;
}
h1 span:nth-child(8) {
  color: rgb(247, 39, 39);
}
h1 span:hover {
  transform: scale(1.2);
}

/* Home Logo */

.home-logo {
  font-weight: 500;
  color: #0bcd22;
  font-size: 3.2em;
  display: flex;
  padding: 20px 20px;
  margin: 18vh 0 70px;
}

.home-logo span {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(49, 49, 49);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    rgba(0, 0, 0, 0.324) 2px 2px 10px;
  border-radius: 15px;
  margin: 0 2px;
  line-height: 53px;
  text-align: center;
  background-color: white;
  transition: 0.2s ease-in;
}
.dark .home-logo span {
  background-color: rgb(45, 45, 45);
  border: 1px solid rgb(105, 105, 105);
  opacity: 0.9;
}

.home-logo span:nth-child(2n) {
  color: #fe3485;
}

.home-logo span:nth-child(3n) {
  color: #1192f5;
}
.home-logo span:nth-child(5) {
  color: rgb(21, 196, 91);
}
.home-logo span:nth-child(2) {
  color: #f8be10;
}
.home-logo span:nth-child(6) {
  color: rgb(194, 23, 194);
  z-index: -1;
}
.home-logo span:nth-child(7) {
  color: #10c2f8;
}
.home-logo span:nth-child(8) {
  color: rgb(247, 39, 39);
}

.home-logo span {
  display: inline-block;
  animation: wave 2.5s infinite;
}
.home-logo span:nth-child(1) {
  animation-delay: 0s;
}
.home-logo span:nth-child(2) {
  animation-delay: 0.1s;
}
.home-logo span:nth-child(3) {
  animation-delay: 0.2s;
}
.home-logo span:nth-child(4) {
  animation-delay: 0.3s;
}
.home-logo span:nth-child(5) {
  animation-delay: 0.4s;
}
.home-logo span:nth-child(6) {
  animation-delay: 0.5s;
}
.home-logo span:nth-child(7) {
  animation-delay: 0.6s;
}

.home-logo span:nth-child(8) {
  animation-delay: 0.7s;
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-26px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* GameGrid */
.gameArea {
  margin: 10px 0;
  padding: 20px 40px;
}

.gameGrid {
  border: 1px solid palegoldenrod;
  padding: 10px;
  width: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.dark .gameGrid {
  background: rgba(255, 255, 255, 0.07);
}

.gridRow {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gridRow div {
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  flex: 1 1 0;
  width: auto;
  max-width: 60px;
  min-width: 30px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #59cde9;
  background: linear-gradient(45deg, #218ad5, #59d8e9);
  border: rgb(0, 0, 0) 1.5px solid;
}
.dark .gridRow div {
  background: linear-gradient(45deg, #155e92, #46abb8);
  color: rgb(211, 211, 211);
}
.setting-wheel {
  pointer-events: none;
}
.gridRow .misplaced {
  background: #f2994a;
  background: linear-gradient(to right, #f9da7e, #f0b025);
  border-radius: 50px;
}
.dark .gridRow .misplaced {
  background: #b67339;
  background: linear-gradient(to right, #c6ad62, #b7861d);
}
.gridRow .correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to left, #4cf50f, #44ad27);
}
.dark .gridRow .correct {
  background: rgb(51, 159, 51);
  background: linear-gradient(to left, #3fc70e, #2d7419);
}
.gridRow .upcomingRow {
  background: linear-gradient(45deg, #4cacf0, #99e9f406);
  border: rgb(120, 120, 120) 1px solid;
}
.dark .gridRow .upcomingRow {
  background: linear-gradient(45deg, #0e6db15d, #81a6d26b);
  border: rgba(117, 116, 116, 0.641) 1px solid;
}

/* Keys */
.keyboard {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.dark .keyboard {
  background: rgba(255, 255, 255, 0.07);
}
.keyboard.hidden {
  display: none;
}
.keyboardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}
.keyboardLanguage {
  margin: 0 0 0 8px;
}

.home-keyboard-btn {
  width: 2em;
  transition: all 0.2s ease-in;
}
.home-keyboard-btn:hover {
  transform: scale(1.1);
}
.keyboardRow {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.keyboard-key {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.5em;
  padding: 15px 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.dark .keyboard-key {
  background-color: rgb(59, 59, 59);
  color: #c3c2c2;
}

.enter {
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .keyboard-key:hover {
    background-color: rgb(237, 235, 235);
    box-shadow: rgba(12, 12, 12, 0.2) 0px 2px 6px;
    transform: translateY(5px);
  }
  .dark .keyboard-key:hover {
    background-color: rgb(84, 83, 83);
  }
}
.keyboard-key.correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #69f636, #52c234);
}
.dark .keyboard-key.correct {
  background: rgb(50, 161, 50);
  background: linear-gradient(to bottom, #409520, #2a6919);
}
.keyboard-key.correct:hover {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #4cf50f, #409c27);
}
.dark .keyboard-key.correct:hover {
  background: rgb(50, 161, 50);
  background: linear-gradient(to bottom, #48a924, #245715);
}
.keyboard-key.wrong {
  background: #d0cece;
  background: linear-gradient(to top, #888888, #d3d3d3);
}
.dark .keyboard-key.wrong {
  background: #a5a3a3;
  background: linear-gradient(to top, #424242, #818181);
}
.keyboard-key.wrong:hover {
  background: #d0cece;
  background: linear-gradient(to top, #6d6c6c, #d3d3d3);
}
.dark .keyboard-key.wrong:hover {
  background: #979595;
  background: linear-gradient(to top, #202020, #535252);
}
.keyboard-key.misplaced {
  background: #edf103;
  background: linear-gradient(to bottom, #f9da7e, #f0b025);
}
.dark .keyboard-key.misplaced {
  background: #c8cb03;
  background: linear-gradient(to bottom, #b39d5b, #9e7317);
}
.keyboard-key.misplaced:hover {
  background: linear-gradient(to bottom, #f9da7e, #c1880f);
}
.dark .keyboard-key.misplaced:hover {
  background: #c8cb03;
  background: linear-gradient(to bottom, #a59153, #906a16);
}
.currentRow.fade {
  color: rgb(195, 194, 194);
}
.dark .currentRow.fade {
  color: rgba(195, 194, 194, 0.531);
}

/* Answer after loss */
.endGame {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.definition,
.restart {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  font-weight: 400;
  font-size: 1.3em;

  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.definition {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
.restart {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  font-size: 1.4em;
  transition: 0.1s ease-in;
  cursor: pointer;
  z-index: 2;
  line-height: 15px;
}
.restart:hover {
  transform: scale(1.1);
}
.replay-arrow {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 20px;
  font-size: 0.9em;
}

/* Setting menu */
.settings,
.instructions {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.settings-overlay,
.instructions-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}
.dark .settings-overlay {
  background: rgba(255, 255, 255, 0.13);
}
.settings.opened .settings-overlay,
.instructions.opened .instructions-overlay {
  opacity: 1;
  pointer-events: all;
}

.settings-card {
  height: 500px;
  width: 400px;
  background: linear-gradient(to right, #768bf4, #59cde9);
  border-radius: 40px;
  margin: 0 10px;
  position: relative;
  transform: scale(0.85);
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.693);
}
.dark .settings-card {
  background: linear-gradient(to right, #3e52b4, #3aa1ba);
}
.dark .instructions-card {
  background: linear-gradient(to right, #3e52b4, #3aa1ba);
}

.settings.opened .settings-card {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.settingsTitle {
  font-weight: 400;
  font-size: 1.2em;
}
.dark .settingsTitle {
  color: #c5c5c5;
}

.settings-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(238, 203, 238);
  background: rgba(73, 121, 254, 0.403);
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 40px;
  height: 80px;
  color: #ebeaea;
  font-size: 1.2em;
  transition: 0.3s ease-in;
}
.dark .settings-card__row {
  border: 1px solid rgb(176, 176, 176);
  color: #c5c5c5;
}
.setting-option:hover {
  background: linear-gradient(to right, #c848f296, #9637b696);
  cursor: pointer;
}
.dark .setting-option:hover {
  background: linear-gradient(to left, #9535b596, #62247796);
  cursor: pointer;
}
.settings-card__row--top {
  border: 1px solid rgba(238, 203, 238, 0);
  background: rgba(0, 0, 0, 0);
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 400;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.391);
}
.dark .settings-card__row--top {
  border: 1px solid rgba(238, 203, 238, 0);
}
.settings-card__row--top button {
  margin-right: 0;
  font-size: 0.7em;
}
.toggleIcon {
  font-size: 2em;
  color: rgb(248, 217, 248);
}
.dark .toggleIcon {
  color: rgb(62, 62, 62);
}
.flag {
  border: 1px solid rgb(238, 203, 238);
  border-radius: 50px;
  padding: 7px 10px;
}
.dark .flag {
  border: 1px solid rgb(176, 176, 176);
}
.franceFlag {
  margin-right: 10px;
}
.unselectedFlag {
  opacity: 0.6;
}
.selectedFlag {
  background: #60bff3;
}
.dark .selectedFlag {
  background: #5a6fcb;
}
.unselectedFlag:hover {
  opacity: 1;
  background: #60bff3;
}
.dark .unselectedFlag:hover {
  opacity: 1;
  background: #5a6fcb;
}

.dark .unselectedFlag:hover {
  background: #2d8abc;
}

.settings-card__row--top button:hover {
  transform: scale(1);
  background: linear-gradient(to right, #c848f296, #6a268096);
}

/* Instructions */

.instructions-card {
  max-width: 450px;
  width: 100%;
  background: linear-gradient(to right, #768bf4, #59cde9);
  border-radius: 40px;
  margin: 0 10px;
  transform: scale(0.85);
  position: relative;
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.693);
}

.instructions.opened .instructions-card {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
/* @keyframes blob {
  0% {
    border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  }
  25% {
    border-radius: 58% 42% 64% 36% / 60% 36% 64% 40%;
  }
  50% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  }
} */
.instructions__image-frame {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 250px;
  width: 80%;
  margin: 20px auto;
  border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  background: url(../data/images/instruction-example.jpg) center / cover
    no-repeat;
}
.dark .instructions__image-frame {
  background: url(../data/images/instruction-example-darkmode.jpg) center /
    cover no-repeat;
}
.instructions-top {
  margin-top: 20px;
}
.instructionsTitle {
  font-weight: 400;
  font-size: 1.2em;
}
.dark .instructionsTitle {
  color: #c5c5c5;
}
.instructions__text {
  padding: 25px;
  font-size: 1.1em;
  color: white;
}
.dark .instructions__text {
  color: #c5c5c5;
}
/* Footer */
.footer {
  height: 110px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.dark footer {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(188, 187, 187, 0.3);
}
.footer-name {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link-icons {
  font-size: 1.4em;
  margin-top: 18px;
  color: rgba(0, 0, 0, 0.77);
}
.link-icon {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.2s ease-in;
  transform: scale(1);
}
.link-icon:hover {
  transform: scale(1.2);
}

/* Effect */

.js-confetti {
  height: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  header {
    padding-top: 5px;
  }
  h1 {
    font-size: 2em;
    margin-left: 30px;
  }
  h1 span {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
  }
  .home-logo {
    font-size: 2.5em;
  }
  .home-logo span {
    width: 50px;
    height: 50px;
    line-height: 45px;
  }
  .gameArea {
    padding: 0;
  }

  .gridRow {
    gap: 5px;
  }
  .gridRow div {
    font-size: 1.2em;
    max-width: 50px;
    min-width: 0px;
    height: 50px;
  }
  .keyboard {
    gap: 10px;
    margin: 20px 0;
  }

  .keyboardLanguage {
    margin: 1px 0 0 8px;
    font-size: 0.9em;
  }
  .home-keyboard-btn {
    width: 1.6em;
  }
  .keyboardTop {
    margin-bottom: -5px;
  }
  .keyboardRow {
    gap: 5px;
  }
  .btn-settings,
  .btn-help {
    width: 45px;
    height: 45px;
    font-size: 0.8em;
    margin-right: 10px;
  }
  .definition {
    font-size: 1.2em;
  }
  .restart {
    font-size: 1.2em;
    margin: 15px 0 25px 0;
  }
}
canvas {
  pointer-events: none;
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.7em;
    margin-left: 12px;
  }
  h1 span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 25px;
  }
  .home-logo {
    font-size: 2em;
    margin: 18vh 0 50px;
  }
  .home-logo span {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    line-height: 35px;
  }
  .btn-settings,
  .btn-help {
    width: 35px;
    height: 35px;
    font-size: 0.6em;
    border-radius: 10px;
  }
  .btn-help {
    margin-right: 10px;
  }
  .gridRow div {
    border: black 1px solid;
  }

  .keyboard {
    margin: 20px 5px;
  }
  .keyboardLanguage {
    margin: 1px 0 0 4px;
  }
  .home-keyboard-btn {
    width: 1.6em;
  }
  .keyboardTop {
    margin-bottom: -5px;
  }
  .keyboard-key {
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
  }
  .toggleIcon {
    font-size: 1.5em;
  }
  .instructions.opened .instructions-card,
  .settings.opened .settings-card {
    transform: scale(0.82);
  }
  .definition,
  .restart {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.3em;
    margin-left: 7px;
  }
  h1 span {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    line-height: 21px;
  }
  .home-logo {
    font-size: 1.5em;
    margin: 18vh 0 50px;
  }
  .home-logo span {
    width: 35px;
    height: 35px;
    border-radius: 12px;
    line-height: 30px;
  }
  .gridRow div {
    font-size: 1.2em;
    max-width: 40px;
    min-width: 0px;
    height: 40px;
    border-radius: 10px;
  }
  .keyboardLanguage {
    font-size: 0.6em;
  }
  .home-keyboard-btn {
    width: 1.3em;
  }
  .keyboardTop {
    margin-bottom: -5px;
  }
  .keyboard-key {
    height: 35px;
    font-size: 0.8em;
    border-radius: 8px;
  }
  .btn-settings,
  .btn-help {
    width: 30px;
    height: 30px;
    font-size: 0.5em;
    margin-right: 9px;
    border-radius: 10px;
  }
  .settings-card__row {
    font-size: 1em;
  }
  .restart {
    margin: 15px 0;
  }
  .definition {
    margin: 10px 0;
  }
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.home-button {
  padding: 15px 35px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 25px;
  transition: all 0.1s ease-in;
}
.home-button:hover {
  transform: scale(1.07);
  border: 1px solid rgba(255, 255, 255, 0.916);
}
