@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Page settings */
* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  all: unset;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  font-family: "Fredoka";
  font-weight: 200;
  background: #8bdeda;
  background: -webkit-linear-gradient(
    to left,
    #ef9393,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );
  background: linear-gradient(
    to left,
    #f75f5f,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
body.dark {
  background: linear-gradient(
    to left,
    #b0304f,
    #8a3fb0,
    #4f4fd6,
    #1f7fd1,
    #19a39a
  );
}

main {
  flex: 1;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}
.dark header {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(188, 187, 187, 0.3);
}
nav {
  display: flex;
}
.btn-settings,
.btn-help {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  text-align: center;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
  background: linear-gradient(120deg, #f5f6f6bb, #e5e5e5c6);
  transition: 0.2s ease-in;
}
.btn-close {
  background: linear-gradient(120deg, #15ddddbb, #e5e5e5c6);
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dark .btn-close {
  background: linear-gradient(120deg, #0d8989bb, #33c3d0c6);
}
.btn-help {
  margin-right: 20px;
}

.btn-settings:hover {
  transform: rotate(5deg) scale(1.2);
}
.btn-help:hover {
  transform: rotate(-5deg) scale(1.2);
}
.setting-wheel {
  font-size: 1.6em;
  color: rgb(22, 22, 22);
}
.dark .setting-wheel {
  color: rgb(59, 59, 59);
}

/* Title */

h1 {
  font-weight: 500;
  color: #0bcd22;
  font-size: 3em;
  display: flex;
  padding: 20px 20px;
}
h1 span {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(49, 49, 49);
  /* box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
  line-height: 45px;
  text-align: center;
  background-color: white;
  transition: 0.2s ease-in;
}
.dark h1 span {
  background-color: rgb(45, 45, 45);
  border: 1px solid rgb(105, 105, 105);
  opacity: 0.9;
}

h1 span:nth-child(2n) {
  transform: rotate(-25deg);
  color: #fe3485;
}

h1 span:nth-child(3n) {
  color: #1192f5;
}
h1 span:nth-child(5) {
  color: rgb(21, 196, 91);
}
h1 span:nth-child(2) {
  color: #f8be10;
}
h1 span:nth-child(6) {
  transform: rotate(25deg);
  color: rgb(194, 23, 194);
  z-index: -1;
}
h1 span:nth-child(7) {
  color: #10c2f8;
}
h1 span:nth-child(8) {
  color: rgb(247, 39, 39);
}
h1 span:hover {
  transform: scale(1.2);
}

/* GameGrid */
.gameArea {
  margin: 10px 0;
  padding: 20px 40px;
}

.gameGrid {
  border: 1px solid palegoldenrod;
  padding: 10px;
  width: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.gridRow {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gridRow div {
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  flex: 1 1 0;
  width: auto;
  max-width: 60px;
  min-width: 30px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #59cde9;
  background: linear-gradient(to right, #218ad5, #59d8e9);
  border: rgb(0, 0, 0) 1.5px solid;
}
.dark .gridRow div {
  background: linear-gradient(to right, #155e92, #46abb8);
}
.setting-wheel {
  pointer-events: none;
}
.gridRow .misplaced {
  background: #f2994a;
  background: linear-gradient(to right, #f9da7e, #f0b025);
  border-radius: 50px;
}
.dark .gridRow .misplaced {
  background: #b67339;
  background: linear-gradient(to right, #c6ad62, #b7861d);
}
.gridRow .correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to left, #4cf50f, #44ad27);
}
.dark .gridRow .correct {
  background: rgb(51, 159, 51);
  background: linear-gradient(to left, #3fc70e, #2d7419);
}
.gridRow .upcomingRow {
  background: linear-gradient(to right, #4cacf0d5, #99e9f49f);
  border: rgb(120, 120, 120) 1px solid;
}
.dark .gridRow .upcomingRow {
  background: linear-gradient(to right, #0e6db1, #81a6d2);
  border: rgb(139, 139, 139) 1px solid;
}

/* Keys */
.keyboard {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.keyboard.hidden {
  display: none;
}

.keyboardRow {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.keyboard-key {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.5em;
  padding: 15px 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.dark .keyboard-key {
  background-color: rgb(99, 99, 99);
  color: #e1e1e1;
}

.enter {
  cursor: pointer;
}
.keyboard-key:hover {
  background-color: rgb(237, 235, 235);
  box-shadow: rgba(12, 12, 12, 0.2) 0px 2px 6px;
  transform: translateY(5px);
}
.dark .keyboard-key:hover {
  background-color: rgb(84, 83, 83);
}
.keyboard-key.correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #69f636, #52c234);
}
.dark .keyboard-key.correct {
  background: rgb(50, 161, 50);
  background: linear-gradient(to bottom, #51bd29, #30761d);
}
.keyboard-key.correct:hover {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #4cf50f, #409c27);
}
.dark .keyboard-key.correct:hover {
  background: rgb(50, 161, 50);
  background: linear-gradient(to bottom, #48a924, #245715);
}
.keyboard-key.wrong {
  background: #d0cece;
  background: linear-gradient(to top, #888888, #d3d3d3);
}
.dark .keyboard-key.wrong {
  background: #a5a3a3;
  background: linear-gradient(to top, #2d2d2d, #696868);
}
.keyboard-key.wrong:hover {
  background: #d0cece;
  background: linear-gradient(to top, #6d6c6c, #d3d3d3);
}
.dark .keyboard-key.wrong:hover {
  background: #979595;
  background: linear-gradient(to top, #202020, #535252);
}
.keyboard-key.misplaced {
  background: #edf103;
  background: linear-gradient(to bottom, #f9da7e, #f0b025);
}
.dark .keyboard-key.misplaced {
  background: #c8cb03;
  background: linear-gradient(to bottom, #c8b065, #b1821b);
}
.keyboard-key.misplaced:hover {
  background: linear-gradient(to bottom, #f9da7e, #c1880f);
}
.dark .keyboard-key.misplaced:hover {
  background: #c8cb03;
  background: linear-gradient(to bottom, #a59153, #906a16);
}
.currentRow.fade {
  color: rgb(195, 194, 194);
}

/* Answer after loss */
.lossAnswer,
.restart {
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.232);
  -webkit-backdrop-filter: blur(12px);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  font-weight: 400;
  font-size: 1.3em;

  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.restart {
  font-size: 1.5em;
  transition: 0.1s ease-in;
  cursor: pointer;
  z-index: 9999;

  /* margin-top: 100px; */
}
.restart:hover {
  transform: scale(1.1);
}
.fa-arrow-rotate-left {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 20px;
}

/* Setting menu */
.settings,
.instructions {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.settings-overlay,
.instructions-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}
.dark .settings-overlay {
  background: rgba(255, 255, 255, 0.13);
}
.settings.opened .settings-overlay,
.instructions.opened .instructions-overlay {
  opacity: 1;
  pointer-events: all;
}

.settings-card {
  height: 500px;
  width: 400px;
  background: linear-gradient(to right, #768bf4, #59cde9);
  border-radius: 40px;
  margin: 0 10px;
  transform: scale(0.85) translateY(-200px) translateX(50px);
  opacity: 0;
  transition: 0.4s ease;
  position: relative;
  pointer-events: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.693);
}
.dark .settings-card {
  background: linear-gradient(to right, #3e52b4, #3aa1ba);
}
.dark .instructions-card {
  background: linear-gradient(to right, #3e52b4, #3aa1ba);
}

.settings.opened .settings-card {
  transform: scale(1) translateY(-100px) translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.instructions.opened .instructions-card {
  transform: scale(1) translateY(-100px) translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.settingsTitle {
  font-weight: 400;
  font-size: 1.2em;
}

.settings-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(238, 203, 238);
  background: rgba(73, 121, 254, 0.403);
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 40px;
  height: 80px;
  color: whitesmoke;
  font-size: 1.2em;
  transition: 0.3s ease-in;
}
.dark .settings-card__row {
  border: 1px solid rgb(176, 176, 176);
  color: rgb(210, 209, 210);
}
.setting-option:hover {
  background: linear-gradient(to right, #c848f296, #9637b696);
  cursor: pointer;
}
.dark .setting-option:hover {
  background: linear-gradient(to left, #9535b596, #62247796);
  cursor: pointer;
}
.settings-card__row--top {
  border: 1px solid rgba(238, 203, 238, 0);
  background: rgba(0, 0, 0, 0);
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 400;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.391);
}
.dark .settings-card__row--top {
  border: 1px solid rgba(238, 203, 238, 0);
}
.settings-card__row--top button {
  margin-right: 0;
  font-size: 0.7em;
}
.toggleIcon {
  font-size: 2em;
  color: rgb(248, 217, 248);
}
.dark .toggleIcon {
  color: rgb(62, 62, 62);
}
.flag {
  border: 1px solid rgb(238, 203, 238);
  border-radius: 50px;
  padding: 7px 10px;
}
.dark .flag {
  border: 1px solid rgb(176, 176, 176);
}
.franceFlag {
  margin-right: 10px;
}
.unselectedFlag {
  opacity: 0.6;
}
.selectedFlag {
  background: #60bff3;
}
.dark .selectedFlag {
  background: #1584c0;
}
.unselectedFlag:hover {
  opacity: 1;
  background: #60bff3;
}
.dark .unselectedFlag:hover {
  background: #2d8abc;
}

.settings-card__row--top button:hover {
  transform: scale(1);
  background: linear-gradient(to right, #c848f296, #6a268096);
}

/* How to Play */

.instructions-card {
  max-width: 450px;
  width: 100%;
  background: linear-gradient(to right, #768bf4, #59cde9);
  border-radius: 40px;
  margin: 0 10px;
  transform: scale(0.85) translateY(-200px) translateX(50px);
  opacity: 0;
  transition: 0.4s ease;
  position: relative;
  pointer-events: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.693);
}
/* @keyframes blob {
  0% {
    border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  }
  25% {
    border-radius: 58% 42% 64% 36% / 60% 36% 64% 40%;
  }
  50% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  }
} */
.instructions__image-frame {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 250px;
  width: 80%;
  margin: 20px auto;
  /* animation: blob 4s ease-in-out infinite; */
  border-radius: 52% 48% 63% 37% / 37% 57% 43% 63%;
  background: url(../data/images/instruction-example.jpg) center / cover
    no-repeat;
}
.dark .instructions__image-frame {
  background: url(../data/images/instruction-example-darkmode.jpg) center /
    cover no-repeat;
}
.instructions-top {
  margin-top: 20px;
}
.instructionsTitle {
  font-weight: 400;
  font-size: 1.2em;
}
.instructions__text {
  padding: 25px;
  font-size: 1.1em;
  color: white;
}
/* Footer */
.footer {
  height: 110px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.dark footer {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(188, 187, 187, 0.3);
}
.footer-name {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link-icons {
  font-size: 1.4em;
  margin-top: 18px;
  color: rgba(0, 0, 0, 0.77);
}
.link-icon {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.2s ease-in;
  transform: scale(1);
}
.link-icon:hover {
  transform: scale(1.2);
}

/* Effect */

.js-confetti {
  height: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  header {
    padding-top: 5px;
  }
  h1 {
    font-size: 2em;
    margin-left: 30px;
  }
  h1 span {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
  }
  .gameArea {
    padding: 0;
  }

  .gridRow {
    gap: 5px;
  }
  .gridRow div {
    font-size: 1.2em;
    max-width: 50px;
    min-width: 0px;
    height: 50px;
  }
  .keyboard {
    gap: 10px;
    margin: 20px 0;
  }
  .keyboardRow {
    gap: 5px;
  }
  .btn-settings,
  .btn-help {
    width: 45px;
    height: 45px;
    font-size: 0.8em;
    margin-right: 10px;
  }
}
canvas {
  pointer-events: none;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.7em;
    margin-left: 12px;
  }
  h1 span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
  }
  .gridRow div {
    border: black 1px solid;
  }

  .keyboard {
    margin: 20px 5px;
  }
  .keyboard-key {
    height: 40px;
    font-size: 1em;
  }
  .btn-settings,
  .btn-help {
    margin-right: 20px;
  }
  .toggleIcon {
    font-size: 1.5em;
  }
  .settings.opened .settings-card {
    transform: scale(1) translateY(0) translateX(0);
  }
  .instructions.opened .instructions-card {
    transform: scale(1) translateY(0) translateX(0);
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.4em;
    margin-left: 7px;
  }
  h1 span {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    line-height: 25px;
  }
  .gridRow div {
    font-size: 1.2em;
    max-width: 40px;
    min-width: 0px;
    height: 40px;
    border-radius: 10px;
  }
  .btn-settings,
  .btn-help {
    width: 35px;
    height: 35px;
    font-size: 0.7em;
    margin-right: 10px;
    border-radius: 10px;
  }
  .settings-card__row {
    font-size: 1em;
  }
}
