@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Page settings */
* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  all: unset;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  font-family: "Fredoka";
  font-weight: 200;
  background: #8bdeda;
  background: -webkit-linear-gradient(
    to left,
    #ef9393,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );
  background: linear-gradient(
    to left,
    #f75f5f,
    #e17dc2,
    #998ee0,
    #43add0,
    #8bdeda
  );
  /* dark Mode
  background: linear-gradient(
    to left,
    #b0304f,
    #8a3fb0,
    #4f4fd6,
    #1f7fd1,
    #19a39a
  ); */

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2); /* more transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}
.btn-settings {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid rgb(69, 69, 69);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.245);
  border-radius: 15px;
  background-color: rgba(239, 239, 239, 0);
  transform: rotate(5deg);
  transition: 0.2s ease-in;
}
/* .gradient-text {
  font-size: 2em;
  /* background: linear-gradient(to right, #e28622, gold, gold, #e4700a); */
/* background: rgb(235, 234, 234);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
} */
.btn-settings:hover {
  transform: rotate(0deg) scale(1.2);
}
.setting-wheel {
  font-size: 1.7em;
  color: rgb(229, 229, 229);
  text-shadow: 1px 2px 2px black;
}

/* Title */

h1 {
  font-weight: 500;
  color: #0bcd22;
  font-size: 3em;
  display: flex;
  padding: 20px 20px;
}
h1 span {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(49, 49, 49);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.245);
  border-radius: 15px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  transition: 0.2s ease-in;
}

h1 span:nth-child(2n) {
  transform: rotate(-25deg);
  color: #fe3485;
}

h1 span:nth-child(3n) {
  color: #1192f5;
}
h1 span:nth-child(5) {
  color: rgb(21, 196, 91);
}
h1 span:nth-child(2) {
  color: #f8be10;
}
h1 span:nth-child(6) {
  transform: rotate(25deg);
  color: rgb(194, 23, 194);
  z-index: -1;
}
h1 span:nth-child(7) {
  color: #10c2f8;
}
h1 span:nth-child(8) {
  color: rgb(247, 39, 39);
}
h1 span:hover {
  transform: scale(1.2);
}

/* GameGrid */
.gameGrid {
  margin: 10px 0;
}
.gridRow {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gridRow div {
  box-shadow: 0 0 15px rgba(56, 56, 56, 0.116);
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  flex: 1 1 0;
  width: auto;
  max-width: 60px;
  min-width: 30px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #59cde9;
  background: -webkit-linear-gradient(to right, #2d5ef0, #59cde9);
  background: linear-gradient(to right, #218ad5, #59d8e9);

  border: black 2px solid;
}
.setting-wheel {
  pointer-events: none;
}
.gridRow .misplaced {
  background: #f2994a;
  background: -webkit-linear-gradient(to right, #f9da7e, #f0b025);
  background: linear-gradient(to right, #f9da7e, #f0b025);
  border-radius: 50px;
}
.gridRow .correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to left, #4cf50f, #44ad27);
}
.gridRow .upcomingRow {
  background: -webkit-linear-gradient(to right, #2d5ef0, #59cde9);
  background: linear-gradient(to right, #4cabf0, #99eaf4);
  border: rgb(120, 120, 120) 2px solid;
}

/* Keys */
.keyboard {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.keyboard.hidden {
  display: none;
}

.keyboardRow,
.valider {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.keyboard-key {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.5em;
  padding: 15px 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.keyboard-key:hover {
  background-color: rgb(237, 235, 235);
  box-shadow: rgba(12, 12, 12, 0.2) 0px 2px 6px;
  transform: translateY(5px);
}
.keyboard-key.correct {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #69f636, #52c234);
}
.keyboard-key.correct:hover {
  background: rgb(69, 219, 69);
  background: linear-gradient(to bottom, #4cf50f, #409c27);
}
.keyboard-key.wrong {
  /* background: #cd3a3a;
  background: linear-gradient(to top, #882f2f, #fc8f8f); */
  background: #d0cece;
  background: linear-gradient(to top, #888888, #d3d3d3);
}
.keyboard-key.wrong:hover {
  /* background: linear-gradient(to top, #6b2323, #f28a8a); */
  background: #d0cece;
  background: linear-gradient(to top, #6d6c6c, #d3d3d3);
}
.keyboard-key.misplaced {
  background: #edf103;
  background: linear-gradient(to bottom, #f9da7e, #f0b025);
}
.keyboard-key.misplaced:hover {
  background: linear-gradient(to bottom, #f9da7e, #c1880f);
}
.currentRow.fade {
  color: rgb(195, 194, 194);
}

/* Answer after loss */
.lossAnswer,
.restart {
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  font-weight: 400;
  font-size: 1.3em;

  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.restart {
  font-size: 1.5em;
  transition: 0.1s ease-in;
  cursor: pointer;
  z-index: 9999;
  /* margin-top: 100px; */
}
.restart:hover {
  transform: scale(1.2);
}
.fa-arrow-rotate-left {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 20px;
}

/* Footer */
footer {
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  header {
    padding-top: 5px;
  }
  h1 {
    font-size: 2em;
    margin-left: 30px;
  }
  h1 span {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
  }

  .gameGrid {
    padding: 0 10px;
  }
  .keyboard {
    gap: 10px;
    margin: 20px 0;
  }
  .keyboardRow,
  .valider {
    gap: 5px;
  }
  .btn-settings {
    width: 45px;
    height: 45px;
    font-size: 0.8em;
    margin-right: 10px;
  }
}
canvas {
  pointer-events: none;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.7em;
    margin-left: 12px;
  }
  h1 span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
  }
  .keyboard {
    margin: 20px 5px;
  }
  .keyboard-key {
    height: 40px;
  }
  .btn-settings {
    margin-right: 20px;
  }
}

/* Setting menu */
.settings {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.settings-overlay {
  position: absolute;
  inset: 0;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);

  opacity: 0;
  transition: 0.4s ease;
}
.settings.opened .settings-overlay {
  opacity: 1;
}

.settings-card {
  height: 500px;
  width: 400px;
  background-color: #0182e5;
  border-radius: 40px;
  margin: 0 10px;
  transform: scale(0.85) translateY(-200px) translateX(50px);
  opacity: 0;
  transition: 0.4s ease;
  position: relative;
  pointer-events: auto;
  z-index: 2;

  display: flex;
  justify-content: space-around;
  pointer-events: none;
}
.settings.opened .settings-card {
  transform: scale(1) translateY(-100px) translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.js-confetti {
  height: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
